@model MVCLogin.Models.User

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<body>
    <style rel="stylesheet" type="text/css">
        .form1 {
            display: inline-block;
            padding-top: 50px;
            padding-left: 600px;
        }

            .form1 input {
                font-family: "Roboto", sans-serif;
                outline: 0;
                background: #f2f2f2;
                border: 0;
                margin: 0 0 15px;
                padding: 15px;
                box-sizing: border-box;
                font-size: 14px;
            }

            .form1 #Button2 {
                font-family: "Roboto", sans-serif;
                text-transform: uppercase;
                outline: 0;
                background: #4CAF50;
                border: 0;
                padding: 15px;
                color: #FFFFFF;
                font-size: 14px;
                cursor: pointer;
            }

            .form1 .message {
                padding-left: 270px;
            }


        .signup-page {
            width: 360px;
            padding: 8% 0 0;
            margin: auto;
        }

        .form {
            position: relative;
            z-index: 1;
            background: #FFFFFF;
            max-width: 360px;
            margin: 0 auto 100px;
            padding: 45px;
            text-align: center;
            box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
        }
            .form input {
                font-family: "Roboto", sans-serif;
                outline: 0;
                background: #f2f2f2;
                width: 100%;
                border: 0;
                margin: 0 0 15px;
                padding: 15px;
                box-sizing: border-box;
                font-size: 14px;
            }

            .form #Button1 {
                font-family: "Roboto", sans-serif;
                text-transform: uppercase;
                outline: 0;
                background: #4CAF50;
                width: 100%;
                border: 0;
                padding: 15px;
                color: #FFFFFF;
                font-size: 14px;
                cursor: pointer;
            }


            .form button:hover, .form button:active, .form button:focus {
                background: #43A047;
            }


    </style>
    <div class="form1">
        @ViewBag.Message
        @using (Html.BeginForm("Login", "Home"))
        {
            @Html.AntiForgeryToken()
            <input type="text" name="email" />
            <input type="password" name="password" placeholder="Password" />
            <input id="Button2" type="submit" value="Login" />

        }
        <p class="message">Not registered? <a href="#">Create an account</a></p>
    </div>

    <div class="signup-page">
        <div class="form">
            @using (Html.BeginForm("Index", "Home"))
            {
                @Html.AntiForgeryToken()

                @Html.ValidationSummary(true, "")

                @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
                @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { placeholder = "First Name" } })

                @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
                @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { placeholder = "Last Name" } })

                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { placeholder = "Email Address" } })

                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                @Html.EditorFor(model => model.Password, new { htmlAttributes = new { placeholder = "Password" } })

                <input id="Button1" type="submit" value="Sign Up" class="btn btn-default" />
            }
        </div>
    </div>
</body>
